name: Publish to Docker
on:
  release:
    branches: main
    types:
      - published

  workflow_dispatch:

permissions:
  packages: write
  contents: read
jobs:
  publish-ecad-viewer-service:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: Huaqiu-Electronics/ecad-viewer
          releases-only: true
        id: latest-release

      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/Huaqiu-Electronics/ecad-viewer-service
          tags: ${{ steps.latest-release.outputs.tag }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.Huaqiu_Electronics_TOKEN }}
      - name: Build container
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            IMAGE_TAG=${{ steps.latest-release.outputs.tag }}


  publish-ecad-viewer-service-aliyun:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: Huaqiu-Electronics/ecad-viewer
          releases-only: true
        id: latest-release

      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: registry.cn-shanghai.aliyuncs.com/kicad/ecad-viewer-service
          tags: ${{ steps.latest-release.outputs.tag }}

      - name: Login to aliyun
        uses: docker/login-action@v3
        with:
          registry: registry.cn-shanghai.aliyuncs.com
          username: Liangtie
          password: ${{ secrets.ALIYUNCS_DOCKER_PASSWORD }}
      - name: Build container
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            IMAGE_TAG=${{ steps.latest-release.outputs.tag }}